<div class="card flex justify-content-center">
  <p-dropdown [options]="languages" (onChange)="cambiaLenguaje()" [(ngModel)]="selectedLanguages" optionLabel="name">
      <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedLanguages">
              <img [src]="'../assets/imagenes/banderas/'+ selectedLanguages.code +'.png'" style="width: 18px"/>
              <div>{{ selectedLanguages.name }}</div>
          </div>
      </ng-template>

      <ng-template let-language pTemplate="item">
          <div class="flex align-items-center gap-2">
              <img [src]="'../assets/imagenes/banderas/'+ language.code +'.png'" style="width: 18px"/>
              <div>{{ language.name }}</div>
          </div>
      </ng-template>
  </p-dropdown>
</div>
