<!-- <div class="pyramid-loader">
  <div class="wrapper">
    <span class="side side1"><img width="180" alt="Logo"
      src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></span>
    <span class="side side2"><img width="180" alt="Logo"
      src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></span>
    <span class="side side3"><img width="180" alt="Logo"
      src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></span>
    <span class="side side4"><img width="180" alt="Logo"
      src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></span>
    <span class="shadow"></span>
  </div>
</div>



<span class="loader">

</span> -->



<!--
<div class="spinner">

  <div><img width="40" alt="Logo"
    src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></div>
  <div><img width="40" alt="Logo"
    src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></div>
  <div><img width="40" alt="Logo"
    src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></div>
  <div><img width="40" alt="Logo"
    src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></div>
  <div><img width="40" alt="Logo"
    src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></div>
  <div><img width="40" alt="Logo"
    src="../../assets/imagenes/logos/logo_oesia_blanco_baja.png"></div>
</div>
 -->

 <div class="cart-container">
  <div class="cart">
    <div class="cart-handle"></div>
    <div class="cart-body"></div>
    <div class="cart-wheels">
      <div class="cart-wheel"></div>
      <div class="cart-wheel"></div>
    </div>
  </div>
</div>



