span {
    position: relative;
}

.input-busqueda {
    width: 18rem;
}

.listbox-busqueda {
    width: 18rem;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
}

.img-producto {
    width: 45px;
}