<span class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input pInputText type="text" #inputBuscar placeholder="{{'Búsqueda de Productos'|translate}}" (keyup)="buscarProducto(inputBuscar.value)"
    (focus)="showDialog()" (focusout)="closeDialog()">

  <!-- [(ngModel)]="productoSeleccionado" -->
  <p-listbox class="listbox-busqueda" [options]="resultadoBusqueda"
    (onClick)="redireccionaDetalleProducto($event.value.id)" optionLabel="nombre" [hidden]="!esVisible"
    [listStyle]="{'max-height':'400px'}" emptyMessage="{{'Sin resultados'| translate}}">

    <ng-template let-producto pTemplate="item">
      <!-- [routerLink]="['/producto', producto.id]" -->
      <div class="flex align-items-center gap-2">
        <img class="img-producto" [src]="'../assets/imagenes/productos/'+producto.imagen" [alt]="producto.nombre" />
        <div>{{producto.nombre}}</div>
      </div>
    </ng-template>
  </p-listbox>
</span>
