
  <!-- <p-toast></p-toast> -->
  <!-- <p-button (click)="show()" icon="pi pi-search" label="BUSQUEDA"></p-button> -->
  <app-picklist-filter-demo></app-picklist-filter-demo>


<!-- <div class="card flex justify-content-center">
  <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
  <p-button (click)="closeDialog()" icon="pi pi-external-link" label="Show"></p-button>
  <p-dialog header="Header" [visible]="true" [style]="{width: '50vw'}">
      <app-pick-list></app-pick-list>
  </p-dialog>
</div> -->

<div class="card flex justify-content-center">
  <p-button (click)="show()" icon="pi pi-search" label="Search"></p-button>
</div>
