.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
}

.div-logo {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.titulo-logo {
    margin-left: 15px;
    font-family: "Erasdemi";
}

.spacer {
    flex: 1;
}

app-dialog-cliente {
    margin-right: 16px;
}

app-toggle-button-theme{
  margin: 19px;
}
