<div class="card">
  <h1 class="text-color type-writer-text">{{"Listado de productos"|translate}}</h1>
  <app-figura3></app-figura3>
  <p-carousel [value]="productos" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoPlayInterval="3000">
      <ng-template let-producto pTemplate="item">
          <div class="border-1 surface-card border-round m-2 text-center py-5 px-3">
              <div class="mb-3 text-color-secondary">
                  <img [src]="'../assets/imagenes/productos/'+producto.imagen" [alt]="producto.nombre" class="w-6" style="border-radius: 5px;" />
                  <h4 class="mb-1">{{ producto.nombre }}</h4>
                  <h6 class="mt-0 mb-3">{{producto.precio | currency }}</h6>
                  <!-- <p-tag [value]="producto.inventoryStatus" [severity]="getSeverity(producto.inventoryStatus)"></p-tag> -->
                  <div class="car-buttons mt-5">
                      <p-button type="button" styleClass="p-button-secondary p-button-rounded mr-2" icon="pi pi-search" [routerLink]="['/producto', producto.id]"></p-button>
                      <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill" ></p-button>
                      <p-button type="button" styleClass="p-button-info p-button-rounded mr-2" icon="pi pi-cart-plus" (onClick)="agregaAcarritoCompra(producto)"></p-button>
                  </div>
                </div>
          </div>
      </ng-template>
  </p-carousel>
</div>
