@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.p-link{
  border-radius: 10px;
}

.text-color {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color) !important;
}

.card {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  animation: slideRight 1s ease-in-out both; /* Nombre de la animación, duración y función de temporización */
}


@keyframes typeWriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.type-writer-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typeWriter 2s steps(40) 1s 1 normal both;
}





