<p-button (click)="showDialog()" icon="pi pi-user" label="{{clienteIngresado?.nombre ?? 'Cliente'}}"></p-button>
<p-dialog header="Ingresa o Registrate como Cliente" [(visible)]="esDialogVisible" [modal]="true" [resizable]="false"
    class="dialog">

    <form [formGroup]="loginForm" (submit)="loginCliente()" class="grid-container">
        <div class="grid1">
            <div class="label-input">
                <label for="email">Email</label>
                <input pInputText id="email" name="email" type="text" formControlName="email" required>
            </div>
            <div *ngIf="loginForm.controls['email']?.invalid && (loginForm.dirty || loginForm.touched)">
                <p-message severity="error" *ngIf="loginForm.controls['email']?.errors?.['required']"
                    text="email es requerido."></p-message>
                <p-message severity="error" *ngIf="loginForm.controls['email']?.errors?.['email']"
                    text="email introducido no es válido."></p-message>
            </div>
        </div>

        <div class="grid2">
            <div class="label-input">
                <label for="password">Contraseña</label>
                <input pInputText id="password" name="password" type="password" formControlName="password" required>
            </div>
            <div *ngIf="loginForm.controls['password']?.invalid && (loginForm.dirty || loginForm.touched)">
                <p-message severity="error" *ngIf="loginForm.controls['password']?.errors?.['required']"
                    text="password es requerido."></p-message>
                <p-message severity="error" *ngIf="loginForm.controls['password']?.errors?.['minLength']"
                    text="password debe tener un mínimo de 4 caracteres."></p-message>
            </div>
        </div>

        <div class="grid3">
            <p-button type="submit" class="primary" [disabled]="loginForm.invalid">Ingresar Cliente</p-button>
            <p-button label="Registrar nuevo Cliente" routerLink="" styleClass="p-button-link"></p-button>
        </div>
    </form>
</p-dialog>