<!--  <div class="card">
  <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }"
      [targetStyle]="{ height: '30rem' }" filterBy="name" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name" breakpoint="1400px">
      <ng-template let-product pTemplate="item">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
              <img class="w-4rem flex-shrink-0 border-round" [src]="'../assets/imagenes/productos/'+product.imagen" [alt]="product.nombre" />
              <div class="flex-1 flex flex-column gap-2">
                  <span class="font-bold">{{ product.nombre }}</span>
                  <div class="flex align-products-center gap-2">
                      <i class="pi pi-tag text-sm"></i>
                      <span>{{ product.categoria }}</span>
                  </div>
              </div>
              <span class="font-bold text-900">{{ '€' + product.precio }}</span>
          </div>
      </ng-template>
  </p-pickList>
</div> -->



<!-- Contenido del PickListFilter -->
<p-pickList [source]="sourceProducts" [target]="targetProducts" (onMoveToTarget)="onProductSelect($event.items[0])" targetHeader="PRODUCTOS SELECCIONADOS" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '75rem' }"
    [targetStyle]="{ height: '30rem' }" filterBy="nombre" sourceFilterPlaceholder="Buscar por nombre" targetFilterPlaceholder="Buscar por nombre" breakpoint="1400px">
    <ng-template let-product pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <img class="w-4rem shadow-2 flex-shrink-0 border-round" [src]="'../assets/imagenes/productos/'+product.imagen" [alt]="product.nombre" />
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ product.nombre }}</span>
                <div class="flex align-products-center gap-2">
                    <i class="pi pi-tag text-sm"></i>
                    <span>{{ product.categoria }}</span>
                    <span class="font-bold text-900">{{ '€' + product.precio }}</span>
                </div>
            </div>
            <!-- <span class="font-bold text-900">{{ '€' + product.precio }}</span> -->
            <p-button (click)="showDialog()" icon="pi pi-cart-plus" label=""></p-button>
            <!-- <p-rating [(ngModel)]="value" ></p-rating> -->
            <!-- <button type="button" pButton icon="pi pi-plus" (click)="agregaProducto(product)"></button> -->
            <!-- <button type="button" pButton icon="pi pi-minus" (click)="eliminarProducto(product)"></button> -->
            <!-- <p-button (click)="addProductFromPicklist(product)" icon="pi pi-cart-plus" label=""></p-button> -->
        </div>
    </ng-template>
</p-pickList>

